@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --moss-dark: #3d4127;
  --moss-primary: #636b2f;
  --moss-soft: #bac095;
  --moss-light: #d4de95;
}

body {
  background-color: #bac095;
  color: #3d4127;
  font-family: Arial, Helvetica, sans-serif;
}